@import '../../../../components/breadcum/Breadcrumb';

.FlightDetials {
    .price-detial {
        .first {
            h4 {
                color: var(--blackish-green, #121);
                /* TradeGothic/Bold/24px */
                font-family: TradeGothic LT Extended;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 16px;
            }

            address {
                color: var(--blackish-green, #121);

                /* Montserrat/Medium/14px */
                font-family: Montserrat;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                margin-bottom: 8px;
            }

            span {
                border-radius: 4px;
                border: 1px solid var(--mint-green, #8DD3BB);
                color: var(--blackish-green, #121);
                padding: 8px 16px;
                /* Montserrat/Medium/12px */
                font-family: Montserrat;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;


            }

            strong {
                color: var(--blackish-green, #121);
                /* Montserrat/Bold/12px */
                font-family: Montserrat;
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            small {
                color: var(--blackish-green, #121);
                /* Montserrat/Medium/12px */
                font-family: Montserrat;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }

            h2 {
                color: var(--slamon, #FF8682);
                text-align: right;

                /* Montserrat/Bold/32px */
                font-family: Montserrat;
                font-size: 32px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            .btn-social {
                border-radius: 4px;
                border: 1px solid var(--mint-green, #8DD3BB);
                padding: 8px 16px;
                background-color: #fff;
                min-height: 48px;
            }

            .bg-success {
                border-radius: 4px;
                background: var(--mint-green, #8DD3BB) !important;
                color: var(--blackish-green, #121);
                padding: 8px 32px;
                /* Montserrat/Semibold/14px */
                font-family: Montserrat;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                border: none;
                min-height: 48px;
            }
        }

    }
}